a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: bold
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: bold
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0
}


 

.content h1,
.content h2,
.content h3,
.content h4 {
	font-weight: bold
}

.content pre,
.content code {
	font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
	font-size: 12px;
	line-height: 1.5
}

.content pre,
.content code {
	word-break: break-all;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto
}

@font-face {
	font-family: 'slate';
	src: url(../fonts/slate6a94.eot?-syv14m);
	src: url(../fonts/slated41d.eot?#iefix-syv14m) format("embedded-opentype"), url(../fonts/slate6a94.woff2?-syv14m) format("woff2"), url(../fonts/slate6a94.woff?-syv14m) format("woff"), url(../fonts/slate6a94.ttf?-syv14m) format("truetype"), url(../fonts/slate6a94.svg?-syv14m#slate) format("svg");
	font-weight: normal;
	font-style: normal
}

.content aside.warning:before,
.content aside.notice:before,
.content aside.success:before {
	font-family: 'slate';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1
}

.content aside.warning:before {
	content: "\e600"
}

.content aside.notice:before {
	content: "\e602"
}

.content aside.success:before {
	content: "\e606"
}

.tocify,
.toc-footer,
.lang-selector,
.search,
#nav-button {
	display: none
}

.tocify-wrapper>img {
	margin: 0 auto;
	display: block
}

.content pre,
.content code {
	border-radius: 5px;
}

.content pre code {
	border: 0
}

.content pre {
	padding: 1.3em
}

.content code {
	padding: 0.2em
}

.content table {
	border: 1px solid #999
}

.content table tr {
	border-bottom: 1px solid #999
}

.content table td,
.content table th {
	padding: 0.7em
}

.content p {
	line-height: 1.5
}

.content a {
	text-decoration: none;
}


/*.content h1 {
	font-size: 2.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 1em;
	margin-bottom: 21px;
	border: 2px solid #ccc;
	border-width: 2px 0;
	text-align: center
}*/


/*.content h2 {
	font-size: 1.8em;
	margin-top: 2em;
	border-top: 2px solid #ccc;
	padding-top: 0.8em
}*/

.content h1+h2,
.content h1+div+h2 {
	border-top: none;
	padding-top: 0;
	margin-top: 0
}

.content h3,
.content h4 {
	font-size: 0.8em;
	margin-top: 1.5em;
	margin-bottom: 0.8em;
	text-transform: uppercase
}

.content h5,
.content h6 {
	text-transform: uppercase
}

.content aside {
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	line-height: 1.6
}

.content aside:before {
	vertical-align: middle;
	padding-right: 0.5em;
	font-size: 14px
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: bold
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: bold
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0
}


/*.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px
}*/

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	font-weight: 500;
}

.content code,
.content pre {
	font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
	font-size: 12px;
	line-height: 1.5
}

.content code {
	word-break: break-all;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto
}

@font-face {
	font-family: 'slate';
	src: url(../fonts/slate6a94.eot?-syv14m);
	src: url(../fonts/slated41d.eot?#iefix-syv14m) format("embedded-opentype"), url(../fonts/slate6a94.woff2?-syv14m) format("woff2"), url(../fonts/slate6a94.woff?-syv14m) format("woff"), url(../fonts/slate6a94.ttf?-syv14m) format("truetype"), url(../fonts/slate6a94.svg?-syv14m#slate) format("svg");
	font-weight: normal;
	font-style: normal
}

.content aside.warning:before,
.content aside.notice:before,
.content aside.success:before,
.toc-wrapper>.search:before {
	font-family: 'slate';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1
}

.content aside.warning:before {
	content: "\e600"
}

.content aside.notice:before {
	content: "\e602"
}

.content aside.success:before {
	content: "\e606"
}

.toc-wrapper>.search:before {
	content: "\e607"
}

html,
body {
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	-webkit-text-size-adjust: none;

}

#toc>ul>li>a>span {
	float: right;
	background-color: #2484FF;
	border-radius: 40px;
	width: 20px
}

.toc-wrapper {
	transition: left 0.3s ease-in-out;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	z-index: 30;
	top: 67px;
	left: 0;
	bottom: 0;
	width: 240px;
	background-color: #fff;
	border-right: solid 1px #e0dfdf;
	font-size: 13px;
	font-weight: bold;
 
}

.toc-wrapper .lang-selector {
	display: none
}

.toc-wrapper .lang-selector a {
	padding-top: 0.5em;
	padding-bottom: 0.5em
}

.toc-wrapper .logo {
	display: block;
	max-width: 70%;
	margin: 2rem
}

.toc-wrapper>.search {
	position: relative
}

.toc-wrapper>.search input {
	background: #2E3336;
	border-width: 0 0 1px 0;
	border-color: #666;
	padding: 6px 0 6px 20px;
	box-sizing: border-box;
	margin: 10px 15px;
	width: 200px;
	outline: none;
	color: #fff;
	border-radius: 0
}

.toc-wrapper>.search:before {
	position: absolute;
	top: 17px;
	left: 15px;
	color: #fff
}

.toc-wrapper .search-results {
	margin-top: 0;
	box-sizing: border-box;
	height: 0;
	overflow-y: auto;
	overflow-x: hidden;
	transition-property: height, margin;
	transition-duration: 180ms;
	transition-timing-function: ease-in-out;
	background: #1E2224
}

.toc-wrapper .search-results.visible {
	height: 30%;
	margin-bottom: 1em
}

.toc-wrapper .search-results li {
	margin: 1em 15px;
	line-height: 1
}

.toc-wrapper .search-results a {
	color: #fff;
	text-decoration: none
}

.toc-wrapper .search-results a:hover {
	text-decoration: underline
}

.toc-wrapper ul,
.toc-wrapper li {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: auto;
}

.toc-wrapper li {
	color: #fff;
	transition-property: background;
	transition-timing-function: linear;
	transition-duration: 200ms
}

.toc-wrapper .toc-link.active {
	color: #49bea0;
}

.toc-wrapper .toc-link.active-parent {
	/*	background-color: #007bda;*/
	color: #49bea0;
}

.toc-wrapper .toc-list-h2 {
	display: none;
	background-color: #f5f9fc;
	font-weight: 500
}

.toc-wrapper .toc-h2 {
	padding-left: 25px;
	font-size: 13px;
	font-weight: 400;
}

.toc-wrapper .toc-footer {
	padding: 1em 0;
	margin-top: 1em;
	border-top: 1px dashed #666
}

.toc-wrapper .toc-footer li,
.toc-wrapper .toc-footer a {
	color: #fff;
	text-decoration: none
}

.toc-wrapper .toc-footer a:hover {
	text-decoration: underline
}

.toc-wrapper .toc-footer li {
	font-size: 0.8em;
	line-height: auto;
	text-decoration: none
}


/*.toc-link,
.toc-footer li  {
	padding: 6px 10px;
	display: block;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
	color: #666;
	font-weight: 500;
	transition-property: background;
	transition-timing-function: linear;
	transition-duration: 130ms;
	font-size: 14px;
} */

.toc-link,
.toc-footer li {
	display: block;
	padding: 6px 10px;
	color: #666;
	font-weight: 500;
}

.toc-footer li span {
	display: block;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
	transition-property: background;
	transition-timing-function: linear;
	transition-duration: 130ms;
	font-size: 14px;
	display: block;
	width: 100px;
}

#nav-button {
	padding: 0px;
	display: none;
	position: fixed;
	top: 50px;
	left: 0;
	z-index: 100;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	opacity: 0.7;
	line-height: 16px;
	transition: left 0.3s ease-in-out
}

#nav-button span {
	display: block;
	padding: 6px 6px 6px;
	background-color: #fff;
	transform-origin: 0 0;
	transform: rotate(-90deg) translate(-100%, 0);
	border-radius: 0 0 0 5px
}

#nav-button img {
	height: 16px;
	vertical-align: bottom
}

#nav-button:hover {
	opacity: 1
}

#nav-button.open {
	left: 230px
}

.page-wrapper {
	margin-left: 230px;
	position: relative;
	z-index: 10;
	/*	background-color: #F3F7F9;*/
	min-height: 100%;
	padding-bottom: 1px;
	margin-top: 5px;
}

.page-wrapper .dark-box {
	width: 50%;
	background-color: #2E3336;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0
}

.page-wrapper .lang-selector {
	position: fixed;
	z-index: 50;
	border-bottom: 5px solid #2E3336
}

.lang-selector {
	background-color: #1E2224;
	width: 100%;
	font-weight: bold
}

.lang-selector a {
	display: block;
	float: left;
	color: #fff;
	text-decoration: none;
	padding: 0 10px;
	line-height: 30px;
	outline: 0
}

.lang-selector a:active,
.lang-selector a:focus {
	background-color: #111;
	color: #fff
}

.lang-selector a.active {
	background-color: #2E3336;
	color: #fff
}

.lang-selector:after {
	content: '';
	clear: both;
	display: block
}

.content {
	-webkit-transform: translateZ(0);
	position: relative;
	z-index: 30;
	/*position:absolute;*/
	/*left: 0px; right: 0px; top: 60px; bottom: 0px;*/
}

.content:after {
	content: '';
	display: block;
	clear: both
}

.content>h1,
.content>h2,
.content>h3,
.content>h4,
.content>h5,
.content>h6,
.content>p,
.content>table,
.content>ul,
.content>ol,
.content>aside,
.content>dl {
	padding: 0 28px;
	box-sizing: border-box;
	display: block
}

.content>ul,
.content>ol {
	padding-left: 43px
}

.content>h1,
.content>h2,
.content>div {
	clear: both
}

.content h1 {
	font-size: 25px;
	padding: 15px;
	text-align: left;
	font-weight: normal;
	margin: 10px auto;
	/*	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #fdfdfd*/
}

.content h1:first-child,
.content div:first-child+h1 {
	border-top-width: 0;
	margin-top: 0
}


/*.content h1+h2,
.content h1+div+h2 {
	margin-top: -21px;
	border-top: none
}*/


/*.content h3,
.content h4,
.content h5,
.content h6 {
	font-size: 15px;
	margin-top: 2.5em;
	margin-bottom: 0.8em
}

.content h4,
.content h5,
.content h6 {
	font-size: 10px
}
*/

.content hr {
	margin: 2em 0;
	border-top: 2px solid #2E3336;
	border-bottom: 2px solid #F3F7F9
}

.content table {
	margin-bottom: 1em;
	overflow: auto
}

.content table th,
.content table td {
	text-align: left;
	vertical-align: top;
	line-height: 1.6
}

.content table th code,
.content table td code {
	white-space: nowrap
}

.content table th {
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
	vertical-align: bottom
}

.content table td {
	padding: 10px
}

.content table tr:last-child {
	border-bottom: 1px solid #ccc
}

.content table tr:nth-child(odd)>td {
	background-color: white
}

.content table tr:nth-child(even)>td {
	background-color: #fbfcfd
}

.content dt {
	font-weight: bold
}

.content dd {
	margin-left: 15px
}

.content p,
.content li,
.content dt,
.content dd {
	line-height: 1.6;
	margin-top: 0
}

.content img {
	max-width: 100%
}

.content code {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 3px;
	border-radius: 3px
}

.content pre>code {
	background-color: transparent;
	padding: 0
}

.content aside {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	background: #8fbcd4;
	line-height: 1.6
}

.content aside.warning {
	background-color: #c97a7e
}

.content aside.success {
	background-color: #6ac174
}

.content aside:before {
	vertical-align: middle;
	padding-right: 0.5em;
	font-size: 14px
}

.content .search-highlight {
	padding: 2px;
	margin: -3px;
	border-radius: 4px;
	border: 1px solid #F7E633;
	background: linear-gradient(to top left, #F7E633 0%, #F1D32F 100%)
}

.content pre>p,
.content blockquote>p {
	margin: 0
}

.content pre a,
.content blockquote a {
	color: #fff;
	text-decoration: none;
	border-bottom: dashed 1px #ccc
}

.content pre {
	padding: 2em 28px;
	margin-bottom: 10px;
}

.content blockquote>p {
	background-color: #191D1F;
	padding: 13px 2em;
	color: #eee
}

@media (max-width: 930px) {
	.toc-wrapper {
		left: -240px;
		top: 0px;
		z-index: 99999999 ;
	}
	.toc-wrapper.open {
		left: 0
	}
	.page-wrapper {
		margin-left: 0
	}
	#nav-button {
		display: block
	}
	.toc-link {
		padding-top: 0.3em;
		padding-bottom: 0.3em
	}
}

@media (max-width: 700px) {
	.dark-box {
		display: none
	}
	.content>h1,
	.content>h2,
	.content>h3,
	.content>h4,
	.content>h5,
	.content>h6,
	.content>p,
	.content>table,
	.content>ul,
	.content>ol,
	.content>aside,
	.content>dl {
		margin-right: 0
	}
	.toc-wrapper .lang-selector {
		display: block
	}
	.page-wrapper .lang-selector {
		display: none
	}
	.content pre,
	.content blockquote {
		width: auto;
		float: none
	}
	.content>pre+h1,
	.content>blockquote+h1,
	.content>pre+h2,
	.content>blockquote+h2,
	.content>pre+h3,
	.content>blockquote+h3,
	.content>pre+h4,
	.content>blockquote+h4,
	.content>pre+h5,
	.content>blockquote+h5,
	.content>pre+h6,
	.content>blockquote+h6,
	.content>pre+p,
	.content>blockquote+p,
	.content>pre+table,
	.content>blockquote+table,
	.content>pre+ul,
	.content>blockquote+ul,
	.content>pre+ol,
	.content>blockquote+ol,
	.content>pre+aside,
	.content>blockquote+aside,
	.content>pre+dl,
	.content>blockquote+dl {
		margin-top: 28px
	}
}

.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .cs {
	color: #909090
}

.highlight,
.highlight .w {
	background-color: #1E2224
}

.getting-started-header.sticky-header {
	display: none !important;
}

.getting-started .toc-wrapper {
	top: 0px !important;
}


/*.static-header.getting-started-header{position: relative; width: 100%; top: 0px; display: none;}*/

@media(max-width: 1023px) {

	.page-wrapper img:hover { 
    transform: scale(1) !important; 
    z-index: 999999 !important;
}
	.link-to-main-site {
		margin-top: 0px !important
	}
	.getting-started-section .screen {
		max-width: 100% !important
	}
	.content h1 {
		font-size: 15px;
	}
	.content {
		padding: 12px;
 
	}
	.getting-started-header .logo {
		display: block;
		text-align: center;
	}
}

.main-section {
	margin-bottom: 28px;
}

.getting-started-header {
	padding: 0;
	box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
	background-color: #fff;
	height: 60px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: position 10s;
	-ms-transition: position 10s;
	-o-transition: position 10s;
	transition: all 0.5s ease;
	z-index: 999 !important;
}

a[href^="Prerequisites-to-build-a-dApp"] {
	color: red !important;
}


/* getting started */

.getting-started-section {
	padding: 0px;
}

.getting-started-section h1 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: normal !important;
	padding: 0px !important;
	margin: 20px 0px !important;
}

.getting-started-section h2 {
	margin: 10px auto;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500 !important;
	margin-top: 30px;
}

.getting-started-section p {
	font-size: 14px
}

.getting-started-left {
	border-right: solid 1px #ccc !important;
	background: #fff;
	margin-top: 2px
}

.getting-started-left div.links-area {
	padding: 0px;
	padding-top: 60px;
	padding-left: 15px;
}

.getting-started-left ul {
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

.getting-started-left ul>li {
	font-weight: 500;
	font-size: 16px;
	margin: 8px auto;
}

.getting-started-left ul>ul>li {
	margin: 3px auto !important
}

.getting-started-left ul>ul {
	padding: 10px;
}

.getting-started-left ul>ul>li>a {
	font-weight: 500;
	font-size: 13px;
	color: #525252;
	cursor: pointer;
}


/*.getting-started-left ul > li.getting-started-active-link > a{ color: #49bea0; cursor: pointer;}*/

.getting-started-left ul>li.getting-started-active-link>a,
.getting-started-left ul>li.getting-started-active-link>ul>a.active-link {
	color: #49bea0;
	cursor: pointer;
}

.getting-started-left ul>li>a {
	color: #525252;
	cursor: pointer;
}

.getting-started-left ul>li>a:before {
	content: '\f105';
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	margin: 0px 0px 0px 10px;
	text-decoration: none;
	font-weight: 200;
	float: right;
}

.getting-started-left ul>li.getting-started-active-link>a:before {
	content: '\f107';
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	margin: 0px 0px 0px 10px;
	text-decoration: none;
	font-weight: 200;
	float: right;
}

.getting-started-left ul>ul>li>a:before {
	content: '';
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	margin: 0px 0px 0px 10px;
	text-decoration: none;
	font-weight: 200;
	float: right;
}

.getting-started-left ul>ul>li.getting-started-active-link>a:before {
	content: '';
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	margin: 0px 0px 0px 10px;
	text-decoration: none;
	font-weight: 200;
	float: right;
}


/* important */

.getting-started-section .important {
	background: #fff7d0;
	border-left: solid 8px #e7c000;
	padding: 20px;
	margin: 10px auto;
}

.getting-started-section .important p {
	font-size: 15px;
	line-height: 18px;
	color: #6b5900
}

.getting-started-section .important h5 {
	font-size: 15px;
	text-transform: uppercase;
	line-height: 18px;
	color: #b99400
}


/* tips */

.getting-started-section .tip {
	background: #f3f5f7;
	border-left: solid 8px #42b983;
	padding: 10px;
	margin: 20px auto;
}

.getting-started-section .tip p {
	font-size: 15px;
	line-height: 18px;
}
.getting-started-section .tip h5 {	font-size: 15px;	text-transform: uppercase;	line-height: 18px;}


/* code-view */
.getting-started-section .code-view{background: #595e69;border-left: solid 8px #49bea0;padding:20px; margin: 10px auto;
}

.getting-started-section .code-view.response {border-left: solid 8px #7107f2;}

.getting-started-section .code-view pre {padding: 0px;	margin: 0px; margin-top: 25px}

.getting-started-section .code-view pre p {	font-size: 12px;	line-height: 18px;	color: #fff;}

.getting-started-section .code-view h5 {font-size: 15px;	text-transform: uppercase;	line-height: 18px;}

.getting-started-section .screen {max-width: 800px;	margin-bottom: 20px;	display: block;}

ul.toc-list-h1>li {	font-size: 15px
}

.toc-wrapper .toc-h2 {
	font-size: 13px
}

.toc-wrapper .toc-h2 a {
	color: #525252
}

.toc-wrapper .toc-h2.active-link a {
	color: #49bea0
}

.toc-wrapper .toc-link.active {}

.toc-h1.toc-link.active:before,
a.toc-h1.toc-link.active-parent:before {
	content: '\f107';
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	margin: 0px 0px 0px 10px;
	text-decoration: none;
	font-weight: 200;
	float: right;
}

.toc-h1.toc-link:before {
	content: '\f105';
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	margin: 0px 0px 0px 10px;
	text-decoration: none;
	font-weight: 200;
	float: right;
}

.getting-started-section ol {}

.padding-left-20px {
	margin-left: 20px;
}

.link-to-main-site {
	float: right;
	/* display: block; */
	margin-top: 15px;
	margin-right: 27px;
	color: #5a5a5c;
	font-size: 16px;
}

.links-break a {
	word-wrap: break-word;
}

.getting-started-section p,
.toc-wrapper .toc-h2 {
	font-size: 16px;
}

ul.toc-list-h1>li {
	font-size: 16px;
}

.toc-wrapper .toc-link.active {
	border-left: solid #49bea0 5px !important;
}


/*it is for active background*/
.toc-wrapper .toc-link.active {
	border-left: solid #49bea0 5px !important;
	background: #def9fb;
	color: #555;
}

.toc-list-h1 ul {background: #f5f9fc;}

/*
.toc-list-h1 ul {background: #f5f9fc;}
background: #def9fb;    color: #555;
*/


.page-wrapper img
{
     transition: transform 1s;
}

.page-wrapper img:hover { 
    transform: scale(1.3); 
    z-index: 999999 !important;
}

.page-wrapper{z-index: 99999 !important}
  .textcopy{padding: 3px 6px; background:#49bea0; color: #fff; float: right; display: none; cursor: pointer; margin-top: 30px } 
   .code-view:hover .textcopy{display: inline-block;}

.shell { padding: 3px; margin: -20px;    background: #c1c1c1;    margin-left: -28px;    padding-left: 18px;    font-weight: 500;
}

.getting-started-section .leftsidebar h3{font-size: .80rem !important; color: #333 !important;  text-align: left; margin-left: 10px !important; text-transform: uppercase; font-weight: 700; margin:15px auto 5px;}
.getting-started-section .leftsidebar ul li a{color: #333 !important; font-size: 15px; display: block; cursor: pointer;  }

.getting-started-section .leftsidebar ul li{    border-left: solid 5px #fff; margin-left: -5px;

line-height: 18px;
padding: 0px;     padding-left: 0px; }
/*.getting-started-section .leftsidebar ul li.activer{border-left:solid 5px #49bea0 !important; background: #88d4c1 !important; color: #fff}
.getting-started-section .leftsidebar ul li:hover{border-left:solid 5px #49bea0 !important; background: #def9fb !important; color: #333}
.getting-started-section .leftsidebar ul li:hover a, 
.getting-started-section .leftsidebar ul li.activer:hover a{color: #333  !important}
.getting-started-section .leftsidebar ul li.activer a{ color: #333 !important  }*/


.getting-started-copy-right-text{text-align: center; display: block; width: 100%; color: #49bea0 !important}
#nav-button {z-index: 9999999;}

.getting-started-section .code-view {
    background: #595e69;
    border-left: solid 8px #49bea0;
    padding: 20px;
    margin: 0px;
    max-width: 800px;
    margin: 20px 0px;
}


@media(min-width: 1299px)
{
	.main-section{padding-left: 50px !important;    padding-right: 270px  !important;}
}


 .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
    z-index: 9999999 !important
}
.modal{  z-index: 9999999 !important}

@media(max-width:767px)
{
/*.content{margin-top:90px;}*/
}

ul.toc-list-h1>li {
	font-size: 16px;
}

.toc-wrapper .toc-link.active {
	border-left: solid #49bea0 5px !important;
}


/*it is for active background*/
.toc-wrapper .toc-link.active {
	border-left: solid #49bea0 5px !important;
	background: #def9fb;
	color: #555;
}

.toc-list-h1 ul {background: #f5f9fc;}
