 
.main_image{
    width: 100%;
    height: 100%;
   
}
.overlay_image{
    position: absolute;
    bottom: 25%;
    right: 25%;
    left: 15%;
    top:15%;
    width: 70%;
    height: 70%;
   
}
.overlay_image1{
    position: absolute;
    bottom: 33%;
    right: 33%;
    left: 30%;
    top:30%;
    width: 40%;
    height: 40%;
   
}

.overlay_image2{
    position: absolute;
    bottom: 33%;
    right: 33%;
    left: 38%;
    top:38%;
    width: 25%;
    height: 25%;
   
}
.overlay_image3{
    position: absolute;
    bottom: 33%;
    right: 33%;
    left: 44%;
    top:44%;
    width: 12.5%;
    height: 12.5%;
   
}


.no-copy{-webkit-user-select: none;   -moz-user-select: none;  -ms-user-select: none; user-select: none;}



 .wheel-1{ position:absolute; z-index: -9999 !important; display: none;}
 img.static-circle{display: none;}
 .wheel-2{display: none; }
 @media only screen and (min-width: 350px) and (max-width: 1023px)
{
 img.static-circle{position: absolute;   
    right: 0px;    width: auto;    z-index: -9999 !important;    display: block;    top: 20px; }

/*.home .wheel-1{  top: -59px; right: -102px; width: 213px; }*/
 
} 
 

@media only screen and (min-width: 1024px) and (max-width: 6000px)  {
.wheel-1{display: block;  position:absolute; right: -125px; z-index: -9999 !important; top: -40px; height: 250px;    width: 250px;    z-index: -99 !important;}
}



  

@media(min-width: 1200px){    
     .home .wheel-3{width:400px; height:400px;top:-50px;left:-75px;position:absolute;
        display:block; z-index: -9}
}


 .wheel-3{ display: none; }
 