@import url('https://fonts.googleapis.com/css?family=Jura:300,400,500,600,700');
@import url('bootstrap.min.css');
@import url('sticky-header.css');
@import url('font-awesome/css/font-awesome.min.css');



body{ padding:0px; margin:0px; font-size: 14px; font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; overflow-x: hidden;  }
header{    padding: 0;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
    z-index: 999 !important;
}

header .navbar{padding: 8px 0px !important}
.main-content{display: flex; align-items: center; justify-content: center; min-height: calc(100vh - 106px); background-color: #ccc; padding: 15px 0px; } 


.our-inputs{    border-radius: 20px !important; -moz-border-radius:20px; }
.our-buttons{background: #49bea0;  color: #fff !important; font-size: 14px;  font-weight: 500; 	border: solid 2px #49bea0; 	
  border-radius: 17px; transition: 0.5s;   }
.our-buttons:hover, .our-buttons:focus{background: transparent !important; color: #49bea0 !important; border: solid 2px #49bea0; }
.our-buttons.btn-sm{ padding: 3px 10px; font-size: 12px; 	border-radius: 20px;}
.our-buttons.btn-md{ padding: 5px 25px; font-size: 16px; border-radius: 20px;}
.our-buttons.btn-lg{ padding: 7px 30px; font-size: 19px; border-radius: 25px;}
 

a{color: #49bea0;} a:hover, a:focus{color: #49bea0; opacity: 0.9 }
a.forgot-pwd{ font-size: 15px; font-weight: 500; float: right; clear: both; }

/* My inputs */


.flex-center{display: flex; align-items: center; min-height: 100vh}

.events .card .card-title{ font-size: 16px; transition: 0.5s ease-out; }
.events .card .card-title:hover{ font-size: 16px; transition: 0.5s ease-out; }
.events .card .card-footer{text-align: center;}


/* Gallery */
.gallery .card-img-top{border: 0px; border-radius: 0px}
.gallery .card-body{border: 0px; padding: 0px; border: 0px;
    padding: 0px;
    min-height: 200px;
    max-height: 200px;
    background: #fff;
    display: flex;
    align-items: center;}



footer{display: flex;align-self: flex-center; min-height: 50px; justify-content: center; align-items: center; }
footer a{ color:  #49bea0;  }
 


/* Login start*/


/* Google */
 


.social-network-login-button{ padding: 7px; max-width: 290px; text-align: center; border-radius: 30px; font-size: 16px; font-weight: 500; 
  color: #fff !important; display: flex; align-items: center; justify-content: center; cursor: pointer; margin-bottom: 10px; text-transform: uppercase; }


.social-network-login-button.login-button-facebook{  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);      }
  .social-network-login-button.login-button-facebook::before{content: "\f09a"; font-family: fontAwesome; margin-right: 15px; font-size: 20px}


.social-network-login-button.login-button-google{  background-color: #DD4B39;;
  background-image: linear-gradient(#DD4B39;, #3B55A0);      }
  .social-network-login-button.login-button-google::before{content: "\f0d5"; font-family: fontAwesome; margin-right: 15px; font-size: 20px}

     

     .social-network-login-button.login-button-github{  background-color: #555;;
  background-image: linear-gradient(#555;, #3B55A0); }
  .social-network-login-button.login-button-github::before{content: "\f09b"; font-family: fontAwesome; margin-right: 15px; font-size: 20px}
.social-network-login-button.login-button-github::before,   .social-network-login-button.login-button-google::before{position: absolute; left: 31px}


 /* .social-network-login-button i{align-items: flex-start; justify-content: flex-start;}
*/

.social-network-login h4{font-size: 15px; margin-bottom: 20px }
/*.flex-center-top.d-none.d-md-block.d-xl-block{display: none;}*/
.social-network-login-or{ margin-top: 30px }




/* for login or */

/*.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}
*/

/* Login end */
.line-on-text{display:block; text-align: center;    display: block;    border-bottom: solid 1px #555;    width: 100%;    line-height: 2px;    margin: 20px auto;}
.line-on-text span{padding: 5px 19px;    width: 36px;    background: #FFF;}

/*.line-on-text{display:none; }*/

@media(max-width: 1023px)
{
  header .navbar img{width: 120px;}

}

@media(max-width: 768px)
{
 
}


@media(max-width: 767px)
{
 .social-network-login-button{max-width: 100%;}
}

@media(max-width: 480px)
{

}

@media(max-width: 320px)
{

}

/* move to top css */
#gotop {
  padding: 5px; width: 40px;  height: 40px;  position: fixed;  right: 10px;  bottom: 50px;
  display: none;  color: #333;  background: #FFF;  font-size: 21px;  text-align: center;  cursor: pointer;  border-radius: 50%;
  z-index: 9999999;  -webkit-animation: MoveUpDown 1s linear infinite;  -webkit-animation-direction: alternate;
}

@keyframes MoveUpDown {
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 60px;
  }
  100% {
    bottom: 50px;
  }
}
/* End move to top css */