@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body{
  font-family: 'Roboto', sans-serif !important;
  font-weight: normal;
  line-height: 21px;
  font-size: 16px;
}
a{
  color: #00b3ba;
}
a:hover{
  color: #00b3ba;
  opacity: 0.75;
}
body.login{
  background: #FFF;
}
.login .logo {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
}
.login .content {
    border:solid 1px rgba(0,0,0,0.1);
    width: 360px;
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 15px;
    box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
}
.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
    margin-top: 0px;
}
.input-icon {
    position: relative;
}
.input-icon > span {
    color: #ccc;
    display: block;
    position: absolute;
    margin: 9px 2px 4px 9px;
    z-index: 3;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}
.input-icon > .form-control {
    padding-left: 32px;
}
.login .content h4{
  margin-top: 30px;
  font-size: 16px;  
}
.login .content h4 a{
    color: #333;    
}
.login .content h4 a:hover{
  color: #999;
}
.login .content hr{
  border-color: rgba(0,0,0,0.2);
}
.login .content .checkbox label{
  margin-top: 10px;
}
.login .copyright {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 13px;
}

.main-sidebar{
    background-color: #2c6fb5;
    padding-top: 64px;
}
.main-header .logo{
	background: #2c6fb5;
  line-height: 60px;
}
.main-header .navbar, .main-header .logo{
	min-height: 64px;
}
.main-header > .navbar {
    box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
}
.nav > li > a {
    color: #454545;
}
.navbar-nav > li.dropdown .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block !important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #FFF;
    border-left: 7px solid transparent;
    border-bottom-color: #FFF;
    content: '';
}
.dropdown-user{
	margin-right: 15px;
}
.dropdown-user .dropdown-menu:before {
  border-bottom-color: white;
}
.dropdown-user .dropdown-menu:after {
  border-top-color: white;
}
.dropdown-user .dropdown-menu, .navbar-nav>.user-menu>.dropdown-menu{
  width: 170px !important; 
  padding: 0px;
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1) !important;
  border: 1px solid #eee !important;
  margin-top: 6px !important;
}
.dropdown-user .dropdown-menu > li > a {
    padding: 7px 14px;
}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu{
  
}
.dropdown-menu>li>a {
    color: #777;
    display: block;
    padding: 6px 15px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background: none;
}
.sidebar-menu>li:hover>a, .sidebar-menu>li.active>a {
    color: #fff;
    background: #49bea1;
}
.sidebar-menu > li{
  border-bottom: solid 1px rgba(255,255,255,0.2)
}
.sidebar-menu > li > a{
  padding: 12px 5px 12px 12px;
  line-height: 24px;
  transition:all 0.5s;
  color: #FFF; 
}

.main-header .sidebar-toggle:hover, .main-header .sidebar-toggle{
  color: #333;
  visibility: hidden;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title{
  color: #49bea1;
  font-weight: bold;
}
.box-header.with-border {
    border-bottom: 1px solid #dee2e6;
}
.btn-primary{
  background: #00b3ba;
  border-color: #00b3ba;
  color: #FFF;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
  background: #006367 !important;
  border-color: #006367 !important;
}
.db-title{
  font-size: 21px;
}
.outer-box{
  transition: box-shadow .2s;
  box-shadow: 0 5px 20px rgba(33,33,33,.3);
  padding: 20px;
  border-radius:12px ;
  margin: 0px 15px;
}
.outer-box-title{
  color: #49bea1;
  font-weight: 500;
  font-size: 21 px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: solid 1px #d2d2d2;
}
.mrb50{
  margin-bottom: 50px;
}
.mrb30{
  margin-bottom: 30px;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #d2d2d2;
}
.nav-tabs {
    border-bottom: solid 0px rgba(255,255,255,0.2) !important;
}
.nav-tabs .nav-item {
    width: 100%;
    border-radius: 0px !important;
}   
.nav-tabs .nav-item{width:100%; border-radius: 0px !important}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{background: #41aaa6}
.nav-tabs .nav-link{ border-radius: 0px !important; border:0px !important; padding: 12px 5px 12px 12px !important;color: #fff !important; }
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{    color: #fff !important;  background: #49bea1 !important;}
.nav-item {
    border-bottom: solid 1px rgba(255,255,255,0.2) !important;
}   

@media (max-width: 767px){
  .main-header{
    max-height: 134px;
  }
  .main-sidebar{
    margin-top: 131px;
    padding-top: 0px;
  }
  .main-header .sidebar-toggle:hover, .main-header .sidebar-toggle{
    visibility: visible !important;
  }
  .db-title{
    font-size: 18px;
  }
}